body{
    margin: 200px auto;
	text-align: center;
	padding: 10px;
	border: 1px solid #ccc;
	width: 350px;
    background-color: black;
}
.Buttons{
    width: 50px;
    display: inline;
	height: 50px;
	text-align: center;
	font-size: 20px;
    margin: auto;
    color: wheat;
    padding: 5px;
    list-style: none;
	cursor: pointer;
}
.Hedding{
    font-size: large;
    color: aqua;
    position: relative;
    align-items: center;
}
.userName{
    font-size: large;
    color: aqua;
    position: relative;
    align-items: center;
}
.desc{
    font-size: large;
    color: aqua;
    position: relative;
    align-items: center;
}
.CompUserChoos{
    font-size: large;
    color: aqua;
    position: relative;
    align-items: center;
}
.winner{
    font-size: large;
    color: aqua;
    position: relative;
    align-items: center;
}

