body{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:rgb(188, 145, 229);
}
#div{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 440px;
  border: 10px solid rgb(103, 10, 190);
  padding: 10px;
}
.summery{
  height: auto;
  width: 380px;
  border-bottom: 4px;
}
button{
  align-items: center;
  width: 120px;
  height: 30px;
  border: 3px solid rgb(95, 95, 222);
  border-radius: 3px;
}
.buttons{
  height: auto;
  width: 380px;
}
input{
  align-items: center;
  width: 80px;
  height: 20px;
  border: 3px solid rgb(95, 95, 222);
  border-radius: 3px;
  margin-bottom: 20px;
}
