* {
  font-family: "Roboto", sans-serif;
}
.mainContainer {
  width: 1380px;
  height: 150px;
  display: inline-block;
}
.logo {
  width: auto;
  display: inline-block;
}
nav {
  width: auto;
  display: inline-block;
}
.otherNav{
    display: inline;
}
.mainContainer h1 {
  width: 200px;
  font-size: 20px;
  height: auto;
}
li {
  display: inline-block;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 80px;
  height: auto;
}
