* {
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(https://wallpaperaccess.com/full/1244861.jpg);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center 80px;
}
.mainContainer {
  height: 80px;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin: -6px
}
.mainLogo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 60px;
  margin-left: 18px;
  height: auto;
}
.backgroundImg {
  position: absolute;
  width: auto;
  border-radius: 4px;
  top: 100px;
  left: 7px;
}
.mainContainer h1 a{
  width: 130px;
  font-size: 16px;
  height: auto;
  position: absolute;
  top: 60px;
  left: 20px;
  color: rgb(255, 248, 248);
}
.mainContainer h1 a:hover {
  text-decoration-color: rgb(255, 255, 255);
  text-decoration: underline;
}
.mainNav li {
  margin-left: 20px;
  font-weight: 800;
  font-size: 18px;
}
.otherNav li {
  margin-left: 20px;
  font-weight: 800;
  font-size: 18px;
}
li:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
}
nav {
  width: auto;
  position: absolute;
  top: 20px;
  left: 500px;
}
.otherNav {
  position: absolute;
  top: 0px;
  right: -500px;
}
li {
  display: inline-block;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
